@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../src/assets/fonts/Lausanne-300.woff2);
} 
@font-face {
  font-family: font2;
  src: url(../src/assets/fonts/Lausanne-500.woff2);
}
.link:hover .moveLink{
  opacity: 1;
  transition: all ease 0.3s;
}
.moveLink{
  opacity: 0;
}
.parent:hover .child{
  background: #D3FD50;
}
body{
  overflow-x: hidden;
}
.moveX{
  animation: moveAnimation 10s linear infinite;
}
@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-overflow-scrolling: touch;
}

::selection {
  background:  rgb(194, 255, 87); 
  color: black; 
}


::-moz-selection {
  background: rgb(163, 255, 50);
  color: black;
}